

Code/Affection analysis database/

Proposal/Proposal illustration.graffle

Proposal/Proposal.pages

Code/temp.txt

*.pyc

Code/.idea/Code.iml

Code/.idea/modules.xml

Code/.idea/misc.xml

*.pyc

Code/.idea/workspace.xml
