

Code/Affection analysis database/

Proposal/Proposal illustration.graffle

Proposal/Proposal.pages

Code/.idea/workspace.xml

Code/temp.txt

Code/.idea/Code.iml

Code/.idea/modules.xml

Code/.idea/misc.xml

Code/.idea/workspace.xml

*.pyc

Code/__pycache__/data_pipeline.cpython-35.pyc

Code/.idea/inspectionProfiles/Project_Default.xml

Code.zip

Code/.idea/deployment.xml

Code/.idea/webServers.xml

Code/saved models/*
